@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    background-color: #e6e6fa;
    font-family: 'Muli', sans-serif;
}

.container {
    border: 5px solid black;
    height: 500px;
    width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #87ceeb;
    margin-top: 5px;
    text-align: center
}

#div-1 {
    padding: 50px;
    text-align: center;
}

.blogtitle {
    position: relative;
    top: 5%;
    padding: 15px;
}